---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
        <ol> <!-- Start a list for this category -->
      {% endunless %}
        <li style="margin-bottom: 1em;">
        {{ post.title }}.
        {% if post.coauthors %}with {{ post.coauthors }}. {% endif %}
        {% if post.venue %}{{ post.venue }} {% endif %}
        {% if post.submitted %} Submitted {% endif %}
        {% if post.preparation %} In Preparation {% endif %}
        {% unless post.preparation %}({{ post.date | date: "%Y" }}).{% endunless %}
        {% if post.paperurl %}
          {% if post.submitted %}<a href="{{ post.paperurl }}">arxiv</a>
          {% else %}<a href="{{ post.paperurl }}">url</a>{% endif %}
        {% endif %}
        </li>
    {% endfor %}
    {% if title_shown %}
      </ol>
    {% endif %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
